footer
	.scripts-area
	.prefooter
		div
			span
				a(href="#") Разработка сайтов
				a(href="#") Разработка веб-приложений
				a(href="#") Настройка рекламы
				i Френдли консалтинг

			span
				a(href="#") Разработка сайтов
				a(href="#") Разработка веб-приложений
				a(href="#") Настройка рекламы
	.content
		.column
			a.logo(href="/")
				img(src="/assets/img/icons/logo_inverted.svg" width="157" height="30")
			span маркетолог, <br> веб-разработчик
		.column
			ul
				li
					a(href="tel:[[++tel]]") +375 29 534 60 08
				li timotheus@list.ru
				
		.column
			ul
				li
					a(href="https://github.com/aisteron" target="_blank") github.com/aisteron
				li
					a(href="https://www.linkedin.com/in/aisteron/" target="_blank") LinkedIn
		.column
			ul
				li 2015 - 2023
				li @ все права защищены

include ./popup/callback
include ./popup/discount