footer
	.scripts-area
	.prefooter
		ul
			li
				a(href="#") Разработка сайтов
			li
				a(href="#") Разработка веб-приложений
			li
				a(href="#") Настройка рекламы в Интернете
			
			li Френдли консалтинг
	.content
				