header
	a.logo(href="/")
		img(src="/assets/img/icons/logo.svg" width="149" height="21")
	nav
		ul
			li.cb Заказать звонок 
			li
				a(href="/services.html") Услуги
			li
				a(href="/blog.html") Блог
			li
				a(href="/contacts.html") Контакты
			li.phone
				a(href="tel:[[++tel]]") +375 29 534 60 08
	.mview
		a(href="tel:[[++tel]]") +375 29 534 60 08
		#nav-icon1
			span
			span
			span

