.widget.about.bt.bb
	span.title Обо мне
	hr.w60.red
	p Я инженер по образованию и маркетолог по специальности. Врожденное любопытство толкает меня на изучение новинок технического прогресса. Меня искренне интересуют <a href="#">возможности</a>, которые открывают пионеры в области веб-технологий, и как на этом можно заработать денег