.widget.callback
	span.title.red Пришлите свое ТЗ
	form
		input(type="text" placeholder="Ваше имя" name="name")
		input(type="text" placeholder="Ваш телефон" required name="phone")
		label.file
			input(type="file")
			span.button Выберите файл
			span.txt Файл не выбран
			span.note *.doc, *.docx, *.pdf
			span.note до 5 Мб
		input(type="submit" value="Отправить")
