.widget.callback
	span.title.red Пришлите свое ТЗ
	form
		input(type="text" placeholder="Ваше имя")
		input(type="text" placeholder="Ваш телефон" required)
		label.file
			input(type="file")
			span.button Выберите файл
			span.txt Файл не выбран
		input(type="submit" value="Отправить")
