ul#circles
	li
		img(src="/assets/img/ui/widgets/circles/01.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/02.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/03.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/04.jpg" width="120" height="120"
		title='Лучший разработчик 2024 года по версии журнала Форбс'
		)
	li
		img(src="/assets/img/ui/widgets/circles/05.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/06.jpg" width="120" height="120")
	li
		a(href="/seo.html")
			img(src="/assets/img/ui/widgets/circles/07.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/08.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/09.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/010.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/011.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/012.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/013.jpg" width="120" height="120")
	li
		img(src="/assets/img/ui/widgets/circles/014.jpg" width="120" height="120")
