#circles.mobile
	.custom_arrows
		img.prev(src="/assets/img/icons/arrow.svg" width="40" height="40")
		img.next(src="/assets/img/icons/arrow.svg" width="40" height="40")
	.swiper
		.swiper-wrapper
			.swiper-slide
				img(src="/assets/img/ui/widgets/circles/01.jpg" width="80" height="80")
			.swiper-slide
				img(src="/assets/img/ui/widgets/circles/02.jpg" width="80" height="80")
			.swiper-slide
				img(src="/assets/img/ui/widgets/circles/03.jpg" width="80" height="80")
			.swiper-slide
				img(src="/assets/img/ui/widgets/circles/04.jpg" width="80" height="80")
			.swiper-slide
				img(src="/assets/img/ui/widgets/circles/05.jpg" width="80" height="80")