.widget.features
	span.title Мои преимущества
	hr
	ol
		li Разработка сайта под ключ: все работы по созданию, запуску и продвижению
		li Разработка <i>уникального дизайна</i> на заказ по желанию заказчика
		li Не просто запускаю сайт, но и слежу за скоростью и безопасностью его работы

