.widget.features.slider
	.head
		span.title Мои преимущества
		.custom_arrows
			img.prev(src="/assets/img/icons/arrow.svg" width="40" height="40")
			img.next(src="/assets/img/icons/arrow.svg" width="40" height="40")
	hr.red.w60
	.swiper
		ol.swiper-wrapper
			li.swiper-slide Разработка сайта под ключ: все работы по созданию, запуску и продвижению	
			li.swiper-slide 2 Разработка сайта под ключ: все работы по созданию, запуску и продвижению	