.widget.services.bt.bb
	span.title.red Услуги
	hr.w60
	ul
		li
			a(href="/website.html") разработка сайтов любой сложности
		li
			a(href="/app.html") разработка веб-приложений (фронт + бэк)
		li
			a(href="/design.html") UX / UI дизайн
		li
			a(href="/ads.html") контекстная реклама
		li
			a(href="/seo.html") поисковое продвижение сайтов