.widget.services.bt.bb
	span.title.red Услуги
	hr.w60
	ul
		li
			a(href="/website.html") разработка сайтов любой сложности
		li
			a(href="/service.html") разработка веб-приложений (фронт + бэк)
		li
			a(href="/service.html") UX / UI дизайн
		li
			a(href="/service.html") контекстная реклама
		li
			a(href="/service.html") поисковое продвижение сайтов