.widget.skills
	span.red.title Скилы
	hr.w60
	ul
		li
			span.label Понятный код
			.progress
				.red
				.black
			span.d
				span.red 8 
				span / 10 	
		li
			span.label Эффективная реклама
			.progress
				.red
				.black
			span.d
				span.red 9 
				span / 10 	
		li
			span.label Поддержка 24 / 7
			.progress
				.red
			span.d
				span.red 12 
				span / 10 	