.widget.social
	span.title Соц. сети
	hr.w60.red
	ul.body
		li
			a(href="#") LinkedIn
		li
			a(href="#") резюме на hh.ru
		li
			a(href="#") Telegram
		li
			a(href="#") WhatsApp
		li
			a(href="#") Viber