.widget.testimonials
	.head
		span.title Отзывы
		.custom_arrows
			img.prev(src="/assets/img/icons/arrow.svg" width="40" height="40")
			img.next(src="/assets/img/icons/arrow.svg" width="40" height="40")
	.swiper
		.swiper-wrapper
			.swiper-slide
				.head
					hr.red
					span.author Джейсон Стейтем
				.body
					span Работаю с этой компанией уже около двух лет и продвигаю с их помощью свой интернет магазин. Компания знает свое дело, очень грамотные специалисты, работают быстро и ответственно, а главное качественно. Очень доволен!
			.swiper-slide
				.head
					hr.red
					span.author Джейсон Стейтем
				.body
					span 2 Работаю с этой компанией уже около двух лет 
