.widget.tools
	span.title Рекламные инструменты
	hr.w60.red
	.body
		img(src="/assets/img/ui/widgets/circles/02.jpg" width="120" height="120")
		img(src="/assets/img/ui/widgets/circles/03.jpg" width="120" height="120")
