article
	.imageHeader
		img(src="/assets/img/pages/website/monkey.jpg" width="213" height="265")
		h1 Разработка <i>веб</i>-сайтов
	.row.first
		.widget.fun
			.swiper
				.swiper-wrapper
					.swiper-slide
						.dsc
							span.title “У каждой компании должен быть свой сайт”
							span.author Джейсон Стейтем
						img(src="/assets/img/pages/website/fun/01.jpg")
					.swiper-slide
						.dsc
							span.title сэр Тим Бернерс-Ли
							span.author создатель интернета и работы для нас
						img(src="/assets/img/pages/website/fun/02.jpg")
					.swiper-slide
						.dsc
							span.title 2000 - 2020 гг
							span.author график изменения количества сайтов за период
						img(src="/assets/img/pages/website/fun/03.svg")
					.swiper-slide
						.dsc
							span.title маркетологи 20 века
							span.author фото с места работы
						img(src="/assets/img/pages/website/fun/04.jpg")
		#content
			span.dropCap с
			.txt
				p Создание сайта — непростое занятие, требующее глубоких профессиональных знаний и практических навыков. Прежде чем заказывать разработку сайта, нужно продумать до мелочей базовые моменты (структура сайта, наличие определенных блоков, наполнение). Готовый проект должен полностью отвечать требованиям посетителей. Разработчикам нужно учесть все нюансы, чтобы повысить эффективность использования сайта и сделать его посещение максимально приятным.
			span.redbutton Узнать цену
	.row.second
		include ../../ui/widgets/features.slider.pug
		include ../../ui/widgets/testimonials.pug
	#discount
		span.offer <i>акция</i> - 50% на рекламу
		.cta 
			span Хочу!
	.row.third
		include ../../ui/widgets/portfolio
		include ../../ui/widgets/callback		

