.modal.discount
	.modal-content
		.close
			span X
		span.title Скидка -50% на контекст
		hr
		form
			input(type="text" requierd placeholder="Ваш телефон")
			input(type="submit" value="Отправить")



