h1 Маркетолог, <br><font color="#E50404">веб</font>-разработчик
include ../../ui/widgets/circles.swiper.pug
//include ../../ui/widgets/circles
.widgets
	include ../../ui/widgets/services
	include ../../ui/widgets/about
	include ../../ui/widgets/portfolio
	include ../../ui/widgets/features
	include ../../ui/widgets/callback
	include ../../ui/widgets/blog
	include ../../ui/widgets/skills
