article
	h1 Контакты
	ul.pe.bb.bt
		li
			a(href="tel:[[++tel]]") +375 29 534 60 08
		li
			a(href="#") timotheus@list.ru
	include ../../ui/widgets/social.pug
	include ../../ui/widgets/callback.pug



