article
	h1 Настройка <i>контекстной</i> рекламы
	.columns
		.left
				#content
					.dropCap К
					.txt
						p Контекстная реклама — это не просто объявления, которые вы видите в поисковых системах или на веб-страницах. Это тщательно продуманный механизм, который работает на основе маркетинговых воронок, позволяя брендам и компаниям привлекать потенциальных клиентов на различных этапах их покупательского пути. Понимание этого процесса крайне важно для того, чтобы эффективно инвестировать в рекламные кампании и получать от них максимальный отклик.
					span.redbutton Узнать цену
				include ../../ui/widgets/tools.pug
				include ../../ui/widgets/portfolio.pug
		.right
			include ../../ui/widgets/features.pug
			include ../../ui/widgets/testimonials.pug
			include ../../ui/widgets/callback.pug
			